canvas {
	display       : block;
	vertical-align: bottom;
}

#particles-js {
	position           : absolute;
	width              : 100%;
	height             : 100%;
	/* background-color: #3f9cce; */
	/* background-color: #3f9cce; */
	background-color   : #112530;
}

.particles-overlay {
	position         : absolute;
	top              : 50%;
	right            : 50%;
	width            : 100%;
	height           : 100%;
	-webkit-transform: translate(50%, -50%);
	transform        : translate(50%, -50%);
	/* color         : #ffffff !important; */
	/* padding       : 0.5em 0.5em; */
	/* background    : #ffffff57; */
	background       : transparent;
	/* text-shadow   : 0px 0px 2px #023c75; */
	font-family      : 'Open Sans', sans-serif;
}

h1 {
	font-size     : 2.25em;
	font-weight   : 700;
	letter-spacing: -1px;
}

a,
a:visited {
	color     : #E93B76;
	transition: 0.25s;
}

a:hover,
a:focus {
	color: #E93B76;
}

body {
	margin: 0 !important;
}


.Pages-fullPage-2:before {
	background-color: transparent !important;
}