html {
	height: 100%;
	background-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: transparent;
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section__100 {
	height: 50%;
	max-height: 90%;
}

.jotform-form {
	padding: 0;
}






// .form-pagebreak-next-container {
// 	padding : 2px 0 24px 3px;
// 	float : right;
// 	padding-right : 24px;
// }

// .form-pagebreak-next {
// 	float : right;
// }

// .form-checkbox-item {
// 	left : 12px;
// }

// .form-checkbox-item label {
// 	left : -40px;
// }


// // Form Styling
// .relationship-form {
// width: 700px;
// }

// .form-checkbox-item {
// line-height: 24px;
// font-size  : 14px;
// float      : left;
// margin-left: 28px;
// }

// .form-label.form-label-auto {
// font-size: 14px;
// }

// .form-label {
// width        : 100% !important;
// float        : left !important;
// margin-bottom: 24px !important;
// font-size    : 18px !important;
// font-weight  : bold !important;
// }

// .form-radio-item {
// line-height: 24px;
// float      : left;
// margin-left: 12px !important;
// font-size  : 14px !important;
// }

// .form-checkbox-item:not(#foo) {
// position   : relative;
// margin-left: 0;
// }

// @media screen and (min-width: 768px)
// .jotform-form {
// 	padding: 27px 0;
// }



// .button {
// max-width: 100px;
// }



